body{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    height: 200px;
    width: 100%;
    z-index: 9;
    background-color: aquamarine;
    border-bottom: 1px solid #fff;
}

header h1{
    color: rgb(4, 72, 76);
    position: relative;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Nanum Gothic', sans-serif;
    top: 30px;
    text-align: center;
}

header .title .inner{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    top: 78px;
}

header .title .inner input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid aqua;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
}

header .title .inner input:focus{
    border-color: rgb(7, 116, 179);
}

header .title .inner .material-icons{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    color: aquamarine;
    font-size: 33px;
    margin: 3px;
}

header .title .inner .material-icons:hover{
    color: rgb(73, 148, 123);
}

.Todo{
    position: relative;
    top: 200px;
}

.Todo .inner{
    width: 600px;
    margin: 20px auto;
}

.Todo .inner ul{
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.Todo .inner ul li{
    position: relative;
    background-color: aquamarine;
    cursor: pointer;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    transition-delay: .4s;
}

.Todo .inner ul li:hover{
    background-color: rgb(99, 198, 165);
}

.Todo .inner ul li.checked{
    background-color: rgb(98, 199, 165);
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    transition-delay: .0s;
}

.Todo .inner ul .more{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    margin-top: 0;
    height: 0;
    background-color: aquamarine;
    border-radius: 0 0 5px 5px;
    transition: .4s;
}

.Todo .inner ul .more .date{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 50px;
    transition-delay: .0s;
    transition-duration: .2s;
    visibility: hidden;
}

.Todo .inner ul .more p{
    margin-bottom: 10px;
    font-size: 14px;
}

.Todo .inner ul .more input{
    width: 150px;
    height: 20px;
}

.Todo .inner ul .more .alert input{
    width: 20px;
    height: 15px;
    margin-top: 5px;
    margin-left: 0;
}
.Todo .inner ul .more .alert input:last-child{
    margin-left: 10px;
}

.Todo .inner ul .more .time{
    visibility: hidden;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 50px;
    transition-delay: .0s;
    transition-duration: .2s;
}

.Todo .inner ul .more .alert{
    visibility: hidden;
    margin-top: 15px;
    transition-delay: .0s;
    transition-duration: .2s;
}

.Todo .inner ul .more .alert_term{
    visibility: hidden;
    padding-top: 20px;
    padding-left: 20px;
    flex-grow: 1;
    border-top: 1px solid rgb(98, 199, 165);
    transition-delay: .0s;
    transition-duration: .1s;
}

.Todo .inner ul .more .alert_term input{
    width: 100px;
}

.Todo .inner ul .more .alert_term span{
    font-size: 14px;
    margin-left: 5px;
}

.Todo .inner ul .more.checked{
    height: 200px;
}

.Todo .inner ul .more.checked .date{
    transition-delay: .2s;
    visibility: visible;
}

.Todo .inner ul .more.checked .time{
    transition-delay: .2s;
    visibility: visible;
}

.Todo .inner ul .more.checked .alert{
    transition-delay: .2s;
    visibility: visible;
}

.Todo .inner ul .more.checked .alert_term{
    transition-delay: .3s;
    visibility: visible;
}

.Todo .inner ul li .material-icons{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.Todo .inner ul li .material-icons:hover{
    background-color: red;
    color: white;
}